* {
    direction: rtl;
}

.add {
    float: right;
    margin: 13px;
    padding-top: 7px;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
    margin-left: 0;
}

.modal-body {
    text-align: right;
}

.dark-modal .close {
    color: white;
    margin-left: 0;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.close {
    margin-left: 0;
}