<body>
    <div class="container">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">اسم الموظف</th>
                    <th scope="col">البريد الالكتروني</th>
                    <th scope="col">التليفون</th>
                    <th scope="col">الدور الوظيفي</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ييب</td>
                    <td>يبي</td>
                    <td>يبسيبي</td>
                    <td>يبسيبي</td>
                    <td>
                        <mat-menu #appMenu="matMenu">
                            <button mat-menu-item (click)="view()">عرض</button>
                        </mat-menu>

                        <button mat-icon-button [matMenuTriggerFor]="appMenu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>