* {
    direction: rtl;
}

li {
    text-align: center;
}

li:hover a {
    transition: .5s ease-in-out;
    background-color: white;
    color: #343A40;
    border-radius: 25px;
    cursor: pointer;
}

.active {
    border: 1px white solid;
    border-radius: 25px;
}

a {
    color: white;
}

img {
    border-radius: 50px;
}